.links {
    padding: 10px;

    li {
        list-style-type: none;
    }

    a {
        width: 200px;
        margin-bottom: 10px;
        text-decoration: none;
    }
}
mat-icon{    
    transform:scale(2);
    padding-left: 60px;
    margin-top: 20px;
}